<ion-content>

    <ion-grid fixed>
    <ion-row>
      
      <h3>Favoritos</h3>
      
    </ion-row>
  </ion-grid>

  <div *ngFor="let pelicula of favoritoGenero"> 
    <ion-grid fixed *ngIf="pelicula.pelis.length > 0">
      <ion-row>
        <ion-col size="6">
          <h4>{{pelicula.genero}}</h4>
        </ion-col>
      
      </ion-row>
      <app-slideshow-posts (refrescaLista)="ionViewWillEnter()" [peliculas]="pelicula.pelis" ></app-slideshow-posts>
    </ion-grid>

 </div>

</ion-content>
